
body{
display: flex;
    justify-content: center;
    align-items: center;
}



.container{
border-radius: 10px;
border:  solid 1px;
padding: 0;
margin: 0;
width: 99vw;
height: 98vh;
background-color: rgba(231, 140, 54, 0.164);
overflow: hidden;

}


h1{

   position: relative; 
   text-align: center;
   z-index: 1;
   color: rgb(223, 90, 12);
   filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));

}
video{
    position: fixed;
width:100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
z-index: -1;


}
